In [1]:

import numpy as np

import pandas as pd
df=pd.read_html('http://www.infohub.co.ke/2016/04/list-of-nairobi-constituencies-and-wards.html')

In [2]:
df=df[0]

In [3]:

df.head()

                 0                                                  1
0     Constituency                                              Wards
1        Westlands  Kitisuru , Parklands/Highridge, Kangemi and Mo...
2  Dagoretti North  Kilimani, Kawangware, Gatina, Kileleshwa and K...
3  Dagoretti South  Mutu-ini/Karen, Ngand'o, Riruta Nyayo Highrise...
4          Langata           Karen, Nairobi West, Karura and South C.

In [4]:
df.columns=['constituency','wards']

In [6]:
#For accuracy in the geolocation i append Kenya to the constituencies since some names are same for 
#other world places and i run once and commented the code 
df['constituency'] = df['constituency'].astype(str)+',Kenya'
df.head()

            constituency                                              wards
0     Constituency,Kenya                                              Wards
1        Westlands,Kenya  Kitisuru , Parklands/Highridge, Kangemi and Mo...
2  Dagoretti North,Kenya  Kilimani, Kawangware, Gatina, Kileleshwa and K...
3  Dagoretti South,Kenya  Mutu-ini/Karen, Ngand'o, Riruta Nyayo Highrise...
4          Langata,Kenya           Karen, Nairobi West, Karura and South C.

In [7]:
df.drop(df.index[0], inplace=True)
df.head()

            constituency                                              wards
1        Westlands,Kenya  Kitisuru , Parklands/Highridge, Kangemi and Mo...
2  Dagoretti North,Kenya  Kilimani, Kawangware, Gatina, Kileleshwa and K...
3  Dagoretti South,Kenya  Mutu-ini/Karen, Ngand'o, Riruta Nyayo Highrise...
4          Langata,Kenya           Karen, Nairobi West, Karura and South C.
5            Kibra,Kenya  Laini Saba, Lindi, Makina, Woodley-Kenyatta Go...

In [8]:
df.reset_index().head()

,index,constituency,wards
0,1,"Westlands,Kenya","Kitisuru , Parklands/Highridge, Kangemi and Mo..."
1,2,"Dagoretti North,Kenya","Kilimani, Kawangware, Gatina, Kileleshwa and K..."
2,3,"Dagoretti South,Kenya","Mutu-ini/Karen, Ngand'o, Riruta Nyayo Highrise..."
3,4,"Langata,Kenya","Karen, Nairobi West, Karura and South C."
4,5,"Kibra,Kenya","Laini Saba, Lindi, Makina, Woodley-Kenyatta Go..."

In [9]:
df.reset_index(drop=True, inplace=True)
df.head()

            constituency                                              wards
0        Westlands,Kenya  Kitisuru , Parklands/Highridge, Kangemi and Mo...
1  Dagoretti North,Kenya  Kilimani, Kawangware, Gatina, Kileleshwa and K...
2  Dagoretti South,Kenya  Mutu-ini/Karen, Ngand'o, Riruta Nyayo Highrise...
3          Langata,Kenya           Karen, Nairobi West, Karura and South C.
4            Kibra,Kenya  Laini Saba, Lindi, Makina, Woodley-Kenyatta Go...

In [10]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
# import k-means from clustering stage
from sklearn.cluster import KMeans
import folium # map rendering library
print('Libraries imported.')

Libraries imported.

In [98]:
address = df.loc[5, 'constituency']
geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)

In [99]:
constituency_latitude = location.latitude
constituency_longitude = location.longitude
constituency_name = address
print('Latitude and longitude values of {} are {}, {}.'.format( constituency_name, 
                                                               constituency_latitude, 
                                                               constituency_longitude))

Latitude and longitude values of Roysambu,Kenya are -1.2163424, 36.8912325.

In [ ]:
geolocator = Nominatim(user_agent="nairobi_explorer")
constituencies = df.constituency.values
for constituency in constituencies:
    try:
        location = geolocator.geocode(constituency)
        latitude = location.latitude
        longitude = location.longitude
        print('The geograpical coordinate of {} are {}, {}.'.format(constituency, latitude, longitude))
    except:
        print('The geograpical coordinate of {} are {}, {}.'.format(constituency, 'None', 'None'))

In [110]:
df.constituency.values

array(['Westlands,Kenya', 'Dagoretti North,Kenya',
       'Dagoretti South,Kenya', 'Langata,Kenya', 'Kibra,Kenya',
       'Roysambu,Kenya', 'Kasarani,Kenya', 'Ruaraka,Kenya',
       'Embakasi South,Kenya', 'Embakasi North,Kenya',
       'Embakasi Central,Kenya', 'Embakasi East,Kenya',
       'Embakasi West,Kenya', 'Makadara,Kenya', 'Kamukunji,Kenya',
       'Starehe,Kenya', 'Mathare,Kenya'], dtype=object)

### Next, we are going to start utilizing the Foursquare API to explore the neighborhoods and segment them.


Now, let's get the top 100 venues that are in Westlandswithin a radius of 500 meters.
First, let's create the GET request URL. Name your URL url.
create the GET request URL.

In [100]:
CLIENT_ID='5RSJPVGGCRLVX5GY2JCDKYKW3K0AOBA1WZ5HO4EWXWDLFGQX'
CLIENT_SECRET='SZR1WWGB1L3WWOKZX1HKH1ETZ4HHAS25YO3ROBW4IQXSREUM'
VERSION=20190321

In [101]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
 # create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    constituency_latitude, 
    constituency_longitude, 
    radius, 
    LIMIT)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5c934697db04f53b16c4c406'},
 'response': {'suggestedFilters': {'header': 'Tap to show:',
   'filters': [{'name': 'Open now', 'key': 'openNow'}]},
  'headerLocation': 'Roysambu Estate',
  'headerFullLocation': 'Roysambu Estate, Nairobi',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 14,
  'suggestedBounds': {'ne': {'lat': -1.2118423954999955,
    'lng': 36.89572511480015},
   'sw': {'lat': -1.2208424045000046, 'lng': 36.88673988519985}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '528cf126498e65733eb37078',
       'name': 'Artcaffe TRM',
       'location': {'address': 'Thika Road Mall',
        'crossStreet': 'Thika Super Highway',
        'lat': -1.2196860465874904,
        'lng': 36.88863612565136,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.2196860465874904,
          'lng': 36.88863612565136}],
        'distance': 471,
        'cc': 'KE',
        'neighborhood': 'Roysambu Estate',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Thika Road Mall (Thika Super Highway)',
         'Nairobi',
         'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-528cf126498e65733eb37078-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '512de477e4b0cbe0c9bd6582',
       'name': 'Nakumatt Thika Road Mall',
       'location': {'address': 'Thika Road Mall',
        'lat': -1.2196170862303986,
        'lng': 36.889146495743084,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.2196170862303986,
          'lng': 36.889146495743084}],
        'distance': 432,
        'cc': 'KE',
        'neighborhood': 'Roysambu Estate',
        'country': 'Kenya',
        'formattedAddress': ['Thika Road Mall', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d1fd941735',
         'name': 'Shopping Mall',
         'pluralName': 'Shopping Malls',
         'shortName': 'Mall',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/mall_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-512de477e4b0cbe0c9bd6582-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5195f569498e0b9f313090e9',
       'name': 'Nairobi Java House',
       'location': {'address': 'Thika Road',
        'lat': -1.2197965624608673,
        'lng': 36.889325446759685,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.2197965624608673,
          'lng': 36.889325446759685}],
        'distance': 439,
        'cc': 'KE',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Thika Road', 'Nairobi', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d1e0931735',
         'name': 'Coffee Shop',
         'pluralName': 'Coffee Shops',
         'shortName': 'Coffee Shop',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-5195f569498e0b9f313090e9-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '54b68343498eb25a343b7f15',
       'name': 'Persia - TRM',
       'location': {'address': 'Thika Road',
        'lat': -1.2191077815662543,
        'lng': 36.887790716321575,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.2191077815662543,
          'lng': 36.887790716321575}],
        'distance': 491,
        'cc': 'KE',
        'neighborhood': 'Roysambu Estate',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Thika Road', 'Nairobi', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d119941735',
         'name': 'Hookah Bar',
         'pluralName': 'Hookah Bars',
         'shortName': 'Hookah Bar',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/hookahbar_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-54b68343498eb25a343b7f15-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '52ff6af5498e27cc189e3f19',
       'name': 'TRM',
       'location': {'address': 'Thika Road',
        'lat': -1.2195881418846695,
        'lng': 36.88913073884534,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.2195881418846695,
          'lng': 36.88913073884534}],
        'distance': 430,
        'cc': 'KE',
        'neighborhood': 'Roysambu Estate',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Thika Road', 'Nairobi', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d1fd941735',
         'name': 'Shopping Mall',
         'pluralName': 'Shopping Malls',
         'shortName': 'Mall',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/mall_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-52ff6af5498e27cc189e3f19-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '55214626498e9390e1d69288',
       'name': 'Persia Resto Pub- Sheesha Lounge',
       'location': {'lat': -1.219062280870983,
        'lng': 36.887759618305864,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.219062280870983,
          'lng': 36.887759618305864}],
        'distance': 490,
        'cc': 'KE',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Nairobi', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d119941735',
         'name': 'Hookah Bar',
         'pluralName': 'Hookah Bars',
         'shortName': 'Hookah Bar',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/hookahbar_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-55214626498e9390e1d69288-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '51a9e54e498e055c612b91fd',
       'name': 'Galitos Thika Road Mall',
       'location': {'crossStreet': 'thika rd',
        'lat': -1.21990643018337,
        'lng': 36.88931638906509,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.21990643018337,
          'lng': 36.88931638906509}],
        'distance': 450,
        'cc': 'KE',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['thika rd', 'Nairobi', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d1df931735',
         'name': 'BBQ Joint',
         'pluralName': 'BBQ Joints',
         'shortName': 'BBQ',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bbqalt_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-51a9e54e498e055c612b91fd-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '52bc1f31498ea2f0462b22e8',
       'name': 'saape lounge TRM',
       'location': {'address': 'Thika Road',
        'lat': -1.2195193945501548,
        'lng': 36.88812360337282,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.2195193945501548,
          'lng': 36.88812360337282}],
        'distance': 494,
        'cc': 'KE',
        'neighborhood': 'Roysambu Estate',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Thika Road', 'Nairobi', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d121941735',
         'name': 'Lounge',
         'pluralName': 'Lounges',
         'shortName': 'Lounge',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/default_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-52bc1f31498ea2f0462b22e8-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '55e87949498e817a5647c081',
       'name': 'maxfit fitness gym',
       'location': {'lat': -1.2176241691600953,
        'lng': 36.891042551100426,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.2176241691600953,
          'lng': 36.891042551100426}],
        'distance': 144,
        'cc': 'KE',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Nairobi', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d176941735',
         'name': 'Gym',
         'pluralName': 'Gyms',
         'shortName': 'Gym',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/gym_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-55e87949498e817a5647c081-8'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '51a4c130498e0981ac0dc7c5',
       'name': 'Pizza Inn Thika Road Mall',
       'location': {'lat': -1.2199241866763844,
        'lng': 36.889317704772004,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.2199241866763844,
          'lng': 36.889317704772004}],
        'distance': 452,
        'cc': 'KE',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Nairobi', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d1ca941735',
         'name': 'Pizza Place',
         'pluralName': 'Pizza Places',
         'shortName': 'Pizza',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-51a4c130498e0981ac0dc7c5-9'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4cea32b69f776ea877996722',
       'name': "Farmer's choice",
       'location': {'address': 'Kasarani',
        'crossStreet': 'Thika Road',
        'lat': -1.214756251945197,
        'lng': 36.89439335474364,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.214756251945197,
          'lng': 36.89439335474364}],
        'distance': 393,
        'cc': 'KE',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Kasarani (Thika Road)', 'Nairobi', 'Kenya']},
       'categories': [{'id': '56aa371be4b08b9a8d573564',
         'name': 'Sausage Shop',
         'pluralName': 'Sausage Shops',
         'shortName': 'Sausage Shop',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bbqalt_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4cea32b69f776ea877996722-10'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4dd1f5d1ae60fb3f53b6b2be',
       'name': 'Mirema Stage',
       'location': {'lat': -1.2132272318633406,
        'lng': 36.89312763026756,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.2132272318633406,
          'lng': 36.89312763026756}],
        'distance': 405,
        'cc': 'KE',
        'city': 'Githurai',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Githurai', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d1fe931735',
         'name': 'Bus Station',
         'pluralName': 'Bus Stations',
         'shortName': 'Bus Station',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/busstation_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4dd1f5d1ae60fb3f53b6b2be-11'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '508fec81e4b0b0bed409fb29',
       'name': 'Chill zone, Roysambu',
       'location': {'lat': -1.2155256937605299,
        'lng': 36.88752426786092,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.2155256937605299,
          'lng': 36.88752426786092}],
        'distance': 422,
        'cc': 'KE',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Nairobi', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-508fec81e4b0b0bed409fb29-12'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d9200423dd4a093cc6d8618',
       'name': 'NairobiClub',
       'location': {'lat': -1.2205997242972855,
        'lng': 36.89196167389721,
        'labeledLatLngs': [{'label': 'display',
          'lat': -1.2205997242972855,
          'lng': 36.89196167389721}],
        'distance': 480,
        'cc': 'KE',
        'city': 'Nairobi',
        'state': 'Nairobi',
        'country': 'Kenya',
        'formattedAddress': ['Nairobi', 'Kenya']},
       'categories': [{'id': '4bf58dd8d48988d1e8941735',
         'name': 'Baseball Field',
         'pluralName': 'Baseball Fields',
         'shortName': 'Baseball Field',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/baseballfield_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4d9200423dd4a093cc6d8618-13'}]}]}}

In [102]:


# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [103]:
# Clean the json and structure it into a pandas dataframe

venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# # filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# # # filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# # # clean columns
# nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

,venue.name,venue.categories,venue.location.lat,venue.location.lng
0,Artcaffe TRM,Café,-1.219686,36.888636
1,Nakumatt Thika Road Mall,Shopping Mall,-1.219617,36.889146
2,Nairobi Java House,Coffee Shop,-1.219797,36.889325
3,Persia - TRM,Hookah Bar,-1.219108,36.887791
4,TRM,Shopping Mall,-1.219588,36.889131

In [104]:
#Check the number of venues returned by Foursquare
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

14 venues were returned by Foursquare.


### Explore Neighborhoods in Westlands
Create a function to repeat the same process to all the neighborhoods in central toronto

In [106]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'constituency Latitude', 
                  'constituency Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [107]:
westlands_venues=getNearbyVenues(names=df['constituency'],
                                   latitudes=constituency_latitude,
                                   longitudes=constituency_longitude
                                  )

TypeError: zip argument #2 must support iteration